# NetworkInterceptor configuration
# originally made with <3 by Luck
#
# Updated and maintained by drives_a_ford and SlimeDog

# Design: SlimeDog
# Implementation: drives_a_ford
# Testing: SlimeDog
#
# Minecraft version support: 1.12.2, 1.13,2, 1.14.4, 1.15.2, 1.16.5, 1.17.1, 1.18.x

# Network requests may be detected by either or both of the following methods.
#
# security-manager:
# * Installs a custom SecurityManager into the server
# * Will intercept all outgoing network requests
# * May be incompatible with other plugins which install a security manager
# * In particular, note that AAC disables itself if the security-manager method is enabled.
#
# proxy-selector:
# * Installs a custom ProxySelector into the server
# * Will intercept most outgoing HTTP requests
# * Will not catch requests which specifically define their proxy
# * Should not be incompatible with anything
#
# Both methods may be enabled, and are recommended.
methods:
  - security-manager
  - proxy-selector

# bStats metrics
enable-metrics: true

# Processing mode is allow or deny
# In allow mode, outbound network connections to specified targets will be allowed.
# In deny mode, outbound network connections to specified targets will be denied (blocked).
# In either mode, trusted plugins may be specified.
mode: allow

# Enable/disable logging of outbound network connections.
#
# Enable/disable stack traces for each connection attempt.
# Stack traces will always be included in the file output.
#
# Connection requests may be logged to the console
# or to plugins/NetworkInterceptor/intercept.log
# Options are
#   - console
#   - file
#   - all
logging:
  enabled: true
  include-traces: false
  mode: file
  truncate-file-on-start: true

# Enable/disable blocking.
# If blocking is disabled, logging will still occur unless disabled above.
blocking:
  enabled: false

# Configure whether fully qualified domain names (FQDNs) are mapped to their IP addresses
# This will allow calls to IP addresses that are the result of a call to a specific FQDN
# within a certain amount of time of the former.
mapping:
  enabled: true
  # The time (in ms) within which IPs are allowed to pass as per their FQDN permissions
  timer: 1000

# Trusted plugins
# In allow mode, outbound network connections by these plugins will be allowed.
# In deny mode, outbound network connections by these plugins will be allowed,
# unless the target is explicitly blocked in the targets list.
#
# If LuckPerms is installed, we recommend listing it as a trusted plugin, to simplify configuration.
# Remove [] on the next line, and add the following line (without the # comment).
# - LuckPerms
trusted-plugins: []

# Blocked plugins
# No network connections by the listed plugin(s) will be allowed, period.
# Remove [] on the next line, and add the following line (without the # comment).
# - pluginName
blocked-plugins: []

# The target list
# Entries should be lowercase
# In allow mode, outbound network connections to these targets will be allowed.
# In deny mode, outbound network connections to these targets will be blocked.
#
# Recommended targets. Comment out or remove any you do not want to allow.
targets:

  ########## Generally required: Mojang authentication #########################

  # Mojang authentication
  - 'api.mojang.com'
  - 'sessionserver.mojang.com'
  - 'launcher.mojang.com'
  - 'launchermeta.mojang.com'

  ########## Generally good: server version/update check #######################

  # Paper version and update check
  - 'papermc.io'

  # SpigotMC version and update check
  - 'hub.spigotmc.org'

  ########## Generally good: server utilities ##################################

  # Aikar timings
  - 'timings.aikar.co'
  - 'timings.spigotmc.org'

  # OpenDNS: Required for proxies
  - '208.67.220.220'
  - '208.67.222.222'

  # Github API: Not required, but used by Paper
  - 'api.github.com'

  # Metrics services
  - 'bstats.org'
  - 'mcstats.spigotmc.org'

  # Minecraft snooper
  - 'snoop.minecraft.net'

  # PlaceholderAPI ecloud
  - 'api.extendedclip.com'

  # SpigotMC library loader
  # For plugins that utilize the SpigotMC library loader
  # For example: LuckPerms, ntdLuckyBlock, TicketManager
  - 'repo.maven.apache.org'
  - '199.232.192.215'
  - '199.232.196.215'
  
  ########## Generally good: plugin version/update check #######################

  # Plugin update checks
  - 'api.github.com'                    # EssentialsX
  - 'api.spiget.org'                    # Alternate for SpigotMC plugins
  - 'api.spigotmc.org'                  # Standard for SpigotMC plugins
  - 'gist.githubusercontent.com'        # PremiumVanish (probably also SuperVanish)
  - 'raw.githubusercontent.com'         # CMI, DiscordSRV

  ########## Recommended #######################################################

  # LuckPerms
  - 'bytebin.lucko.me'                  # pastebin
  - 'metadata.luckperms.net'            # dependencies
  - 'nexus.lucko.me'                    # dependencies
